.city{
    width: 18rem;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border: 0.2rem solid #02475e;
    border-radius: 0.45rem;
    margin-bottom: 1rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.name{
    margin: 0;
    padding-top: 0.5rem;
}

.btn{
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    background-color: red;
    color: white;
    border: 0.1rem solid red;
    border-radius: 0.45rem;
    padding: 0.15rem 0.3rem 0.1rem 0.3rem;
    font-family: 'Zen Dots', cursive;
    cursor: pointer;
}

.body{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 7.5rem;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    animation: floating 2s infinite ease-in-out;
    height: 5rem;
}
@keyframes floating {
    50% {
        transform: translatey(-0.625rem);
    }
}

.description {
    position: absolute;
    bottom: 1.25rem;
    margin: 0;
    font-size: 1rem;
}