.search{
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 40px;
    padding-bottom: 35px;
}

.input{
    border-style: solid;
    height: 100%;
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'Zen Dots', cursive;
}

.input:hover{
    border-style: solid;
    border-color: black;
    transition: all .5s ease-in-out;
}

.btn{
    border-style: solid;
    background-color: #206a5d;
    border-color: #206a5d;
    color: white;
    height: 100%;
    border-radius: 5px;
    margin-left: 5px;
    font-family: 'Zen Dots', cursive;
}

.btn:hover{
    cursor: pointer;
    color:black;
    /* background-color: #206a5dde; */
    transition: all .5s ease-in-out;
}