.search{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 2.5rem;
    width: 18rem;
    margin-bottom: 2rem;
}

.input{
    width: 12rem;
    height: 100%;
    border: none;
    border-radius: 0.45rem;
    font-family: 'Zen Dots', cursive;
    outline: none;
    padding: 0 0.3rem 0 0.3rem;
}

.btn{
    border-style: solid;
    border-color: #206a5d;
    border-radius: 0.45rem;
    background-color: #206a5d;
    color: white;
    height: 100%;
    font-family: 'Zen Dots', cursive;
    cursor: pointer;
}